body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Arial;
}

body {
    background-color: whitesmoke;
}

h1 {
    font-size: 27px;
    text-align: center;
}

h2 {
    font-size: 22px;
    text-align: center;
}

body {
    margin-bottom: auto;
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
    
}

.header {
    background: #1d1e20;
}

.header1 {
    font-size: 1.2rem;
    padding: 25px;
}

.menu {
    display: grid;
    grid-template-columns: 50px 1fr 50px; 
    padding: 10px;
    text-align: center;
    align-items: center;
}

#logo {
    grid-column: 1;
}

#tilto {
    grid-column: 2;
}

#login {
    grid-column: 3;
}

.header2 {
    font-size: 1rem;
}

.menu2 {
    background: rgba(0, 0, 0, 0.6);
    padding-top: 10px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    text-align: center;
}

#main {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr 1fr;
}

.anuncio {
    display: grid;
    grid-column: 2;
    grid-row: 1 / 2;
    margin-top: 20px;
}

.section1 {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
}

.info_prin {
    margin-top: 30px;
}

.texto {
    grid-column: 1;
    grid-row: 1;
}

.preco {
    color: rgb(144, 228, 18);
    font-size: 20px;
}

.section2 {
    text-align: center;
    display: grid;
    grid-column: 1;
    grid-template-columns: repeat(5, 20%);
    grid-gap: 20px; 
}

#placa1 {
    grid-column: 2;
    border-radius: 25px;
    border: 1px black solid;
    background: white;
    text-align: center;
    padding: 15px;
}

#placa2 {
    grid-column: 3;
    border-radius: 25px;
    border: 1px black solid;
    background: white;
    text-align: center;
    padding: 15px;
}

#placa3 {
    grid-column: 4;
    border-radius: 25px;
    border: 1px black solid;
    background: white;
    text-align: center;
    padding: 15px;
}

.footer {
    background: #1d1e20;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
}







